/*
	Upcoming Classes
*/
.widefat .date-column {
	width: 240px;	
}

/*
	Add a Class
*/
#classDescription {
	height: 120px;
	width: 300px;
}


/*
	Fields
*/
#deptGroupSB,
#classLocSB,
#classTypeSB,
#audienceSB {
	height: auto;
}