/*
	General
*/
.LIR-hide {
	display: none;
}


/*
	Upcoming Classes
*/
.widefat .date-column {
	width: 240px;
}

#LIR-popup table {
	margin: 0 auto;
}

#LIR-popup td {
	padding: 1px 8px;
	border-bottom: 1px solid #ccc;
}

	#LIR-popup tr.last td {
		border: none;
	}


/*
	Add a Class
*/
#classDescription {
	height: 120px;
	width: 300px;
}


/*
	Fields
*/
#deptGroupSB,
#classLocSB,
#classTypeSB,
#audienceSB {
	height: auto;
}